@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300;1,700&family=Poppins:wght@300;400;500;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lato", sans-serif;
}
.text-font {
  font-family: "Poppins", sans-serif;
}

.p {
  padding: 8px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2%;
  color: #1a1941;
  margin: 8px;
  border: 1px solid #ffffff;
  border-radius: 8px;

  cursor: pointer;
}
.previousBttn {
  left: 0px;
  top: 0px;
  border-radius: 6px;
  padding: 10px;
  background-color: #1a1941;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.nextBttn {
  left: 0px;
  top: 0px;
  border-radius: 6px;
  padding: 10px;
  background-color: #1a1941;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
}
.paginationDisabled a {
  background-color: #efefef;
  color: #8b8b8b;
}
.paginationActive a {
  /* background-color:blue; */
  background: rgba(255, 255, 255, 1);
}
.hide::-webkit-scrollbar {
  display: none;
}
.hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
